body
{
    background-image: url("/images/background-home.png");
    font-family: 'Lato', sans-serif;
    margin:0px;
    
}


#wrapper
{
    width: 100%;
}

#logo
{
    margin-left:auto;
    margin-right:auto;
    padding:30px 0;
    width:850px;
    color:rgb(167, 50, 50);
    font-size: 65px;
    letter-spacing: 2px;
    text-align: center;
  
}

#menu
{
    background-color: #fa0b0b;
    color:#ffffff;
    padding: 2px;
    border-bottom: 1px solid #751b1b;
    border-top: 1px solid #751b1b;
    text-align:center;
}


.option
{
	display:inline-block;

    min-width: 60px;
    height: 20px;
    font-size:16px;
    padding: 12px;
    text-align: center;
    border-right: 2px dotted yellow;    /* szerokosc, kropkowana(solid jesli ciagla), kolor)*/
    opacity: 0.8; /* nieprzeÃƒâ€¦Ã‚ÂºroczystoÃƒâ€¦Ã¢â‚¬ÂºÃƒâ€žÃ¢â‚¬Â¡ */

}

.option:hover   /* po najechaniu myszkÃƒâ€žÃ¢â‚¬Â¦ */
{
    background-color:rgb(119, 18, 18);
    cursor: pointer;

}



#container
{
    margin-top:10px;
    width: 1560px;
    margin-left: auto;
    margin-right: auto;
}

#photos
{
    float:left;
    width: 270px;
    margin-right:10px;
    
}


#player
{
   	margin-left:10px;
   	margin-right:10px;
    width:250px; 
    height:300px ;
    border: double red;

}

#team
{
	margin-left:10px;
   	margin-right:10px;
    border: double red;
    margin-top: 100px;
    width: 250px;
    height:300px ;

}

#main
{
    width:1000px;
    float:left;
}

#reje
{   
    width:240px;
    margin-left: 20px;
    padding: 10px;
    float:left;
    background-color: #ececec;
    margin-bottom: 25px;
    height:170px;
    font-size: 25px;
    color: #832f2f;
    text-align: center;
}



#czat
{
	
    width:240px;
    height:640px;
    background-color: #c7c67f;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    
}




#topbar
{
background-color: rgb(192, 76, 23);
color: white;
padding: 10px;
margin-bottom: 25px;
height: 170px;

}

#topbarL
{
    float: left;
    padding:20px;
    width: 150px;
    height:130px;
    text-align: center;
    border-right: 2px dotted #cccccc 

}

#topbarR
{
	height:130px;
    float: left;
    padding: 20px;
    width: 746px;
    font-size: 20px;
    text-align: justify; /* wyjustuj*/
    border-right: 2px dotted #cccccc 

}
#sidebar
{
    float: left;
    width: 148px;
    min-height:620px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    font-size:18px;
    border-right: 2px solid #666666


}

#content
{
    float:left;
    padding: 40px;
    width: 730px;
    background-color: #dedede;
    min-height: 580px;
    text-align: justify;
}

#footer
{
    clear:both;
    color: white;
    padding:20px;
    font-size: 18px;
    text-align: center;

}
#timer
{
    color:white;
    float:right;
    padding: 10px;
    border-left: 2px dotted yellow;
    height: 25px;
}




.optionL
{
font-size: 16px;
height: 25px;
padding: 10px;
border-bottom: 2px dotted #444444;
text-align: center;

}

.optionL:hover
{
    background-color: crimson;
    color:white;
    cursor: pointer;

}

.bigtitle
{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
}

.dottedline
{
    height: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px dotted #444444;
}

.sticky
{
    width: 100%;
    position:fixed;
    left:0;
    top:0;
    z-index: 100; 
}

a.titlelink1
{
    color:#ffffff;
    text-decoration: none;
}

a.titlelink2
{
    color:black;
    text-decoration: none;
}



#admin-title
{
    float: left;
    width: 196px;
    font-size: 20px;
    border: 2px solid black;
    margin-right: 20px;
    text-align: center;
    background-color: rgb(26, 22, 22);
    color:white;
}


#admin-username
{
    color:black;
    background-color: rgb(190, 190, 190);
    float:left;
    margin-top:10px;
    width: 188px;
    text-align: center;
    padding:5px;
    border: 1px dashed black;
    
}


.admin-button
{
    display:inline-block;
    min-width: 60px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color:white;
    border: 1px solid rgb(65, 18, 18);
    background-color: rgb(116, 34, 34);
    
}

.admin-button:hover
{
    cursor: pointer;
    background-color: rgb(56, 18, 18);
}



.fixtures-title
{
    margin-right:1px;
    font-size: 15px;
    padding:5px;
    float:left;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(94, 84, 84);
    color:white;
}

.fixtures-tables
{   
    height: 20px;
    margin-top:5px;
    font-size:15px;
    padding:5px;
    float:left;
    background-color: #cf8256;
    color:white;
    text-align:center;
    margin-right:1px;
}

.fixtures-tables2
{
    height: 20px;
    margin-top:5px;
    font-size:15px;
    padding:5px;
    float:left;
    background-color: #a0623e;
    color:white;
    text-align:center;
    margin-right:1px;
}

.fixtures-tables2:hover
{
    
    background-color: #805134;
    color:rgb(255, 255, 255);
    cursor:pointer;
}

#squad-container
{
    margin-left: auto;
    margin-right: auto;
}

#stadium
{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom:10px;
    color:rgb(156, 147, 18);
}

#fixture-add
{
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    width:496px;
    border: 2px ridge black ;
    background-color: rgb(243, 242, 242);
    color:black;
}


#register
{
	float:right;
	width:150px;
	font-size: 30px;
	margin-top:10px;
}

#cancel
{
    margin-left:30px;
	margin-top:10px;
	font-size: 30px;
	width:100px;
	float:left;
}

#button-middle
{
    width:100%;
    margin-bottom: 20px;
}

.submit-button {
    text-align: center;
	padding: 10px;
	margin: 10px;
	font-size: 14px;
	background-color: rgb(48, 189, 43);
	color:white;
}

.submit-button:hover
{
	background-color:rgb(33, 141, 29);
	color:white;
	cursor:pointer;
	border: groove black;
	border-width: 2px;

}


.input-class{
        font-size:15px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
		background-color: rgb(240,240,240);
		width: 80%;
		padding: 8px;
		display: block;
	    border: ridge rgba(0, 0, 0, 0.267);
}

.input-class:focus
{
	border: 2px solid rgb(169, 235, 169);
	background-color: rgb(234, 252, 232);
	color: rgb(28, 136, 28);
}

.part
{
    margin-top:15px;
    text-align:center;
    font-size: 18px;
}

#squad-title
{
    width:100%;
}

#player-add
{
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    width:496px;
    border: 2px ridge black ;
    color:black;
}


#news-data
{
    width:700px;
    background-color: rgb(94, 84, 84);
    font-size: 15px;
    border: 2px outset;
    color:white;
    padding:5px 10px;
    
   
}

#news
{
    width:700px;
    background-color: #cf8256;
    font-size: 22px;
    border: 2px outset;
    color:white;
    margin-bottom: 20px;
    padding:10px;
}

#chat
{
    margin-left: auto;
    margin-right:auto;
    width: 700px;
    font-size:15px;
    border: 2px rgb(0, 0, 0) ridge;
    background-color: rgb(63, 63, 63);
}

#chat-input
{
    height: 30px;
    width: 300px;
}   

.chat-message
{
    width: 700px;
    border-bottom: 1px dotted rgb(180, 178, 178);
    min-height: 40px;
    margin-top: 10px;
}

.chat-username
{
    color: yellow;
    font: bold;
    margin-right:5px;
    float: left;
    margin-left: 5px;
    font-size: 20px;
    height: 30px;
}
.chat-date
{
    color: yellow;
    margin-right:5px;
    float: left;
    margin-left: 5px;
    font-size: 20px;
    height: 30px;
}
.chat-value
{
    color: white;
    margin-left: 5px;
    float: left;
    font-size: 20px;
    min-height: 30px;
    
}