body
{
    background-image: url("/images/background-home.png");
    font-family: 'Lato', sans-serif;
    margin:0px;
    
}


#wrapper
{
    width: 100%;
}

#logo
{
    margin-left:auto;
    margin-right:auto;
    padding:30px 0;
    width:850px;
    color:rgb(167, 50, 50);
    font-size: 65px;
    letter-spacing: 2px;
    text-align: center;
  
}

#menu
{
    background-color: #fa0b0b;
    color:#ffffff;
    padding: 2px;
    border-bottom: 1px solid #751b1b;
    border-top: 1px solid #751b1b;
    text-align:center;
}


.option
{
	display:inline-block;

    min-width: 60px;
    height: 20px;
    font-size:16px;
    padding: 12px;
    text-align: center;
    border-right: 2px dotted yellow;    /* szerokosc, kropkowana(solid jesli ciagla), kolor)*/
    opacity: 0.8; /* nieprzeÃƒâ€¦Ã‚ÂºroczystoÃƒâ€¦Ã¢â‚¬ÂºÃƒâ€žÃ¢â‚¬Â¡ */

}

.option:hover   /* po najechaniu myszkÃƒâ€žÃ¢â‚¬Â¦ */
{
    background-color:rgb(119, 18, 18);
    cursor: pointer;

}



#container
{
    margin-top:10px;
    width: 1560px;
    margin-left: auto;
    margin-right: auto;
}

#photos
{
    float:left;
    width: 270px;
    margin-right:10px;
    
}


#player
{
   	margin-left:10px;
   	margin-right:10px;
    width:250px; 
    height:300px ;
    border: double red;

}

#team
{
	margin-left:10px;
   	margin-right:10px;
    border: double red;
    margin-top: 100px;
    width: 250px;
    height:300px ;

}

#main
{
    width:1000px;
    float:left;
}

#reje
{   
    width:240px;
    margin-left: 20px;
    padding: 10px;
    float:left;
    background-color: #ececec;
    margin-bottom: 25px;
    height:170px;
    font-size: 25px;
    color: #832f2f;
    text-align: center;
}

.submit-button {
	padding: 10px;
	margin: 10px;
	font-size: 14px;
	background-color: grey;
	color:white;
}



.submit-button:hover
{
	background-color:white;
	color:black;
	cursor:pointer;
	border: groove black;
	border-width: 2px;

}

#czat
{
	padding:10px;
    width:240px;
    height: 640px;
    background-color: #c7c67f;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    
}




#topbar
{
background-color: rgb(192, 76, 23);
color: white;
padding: 10px;
margin-bottom: 25px;
height: 170px;

}

#topbarL
{
    float: left;
    padding:20px;
    width: 150px;
    height:130px;
    text-align: center;
    border-right: 2px dotted #cccccc 

}

#topbarR
{
	height:130px;
    float: left;
    padding: 20px;
    width: 746px;
    font-size: 20px;
    text-align: justify; /* wyjustuj*/
    border-right: 2px dotted #cccccc 

}
#sidebar
{
    float: left;
    width: 148px;
    min-height:620px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    font-size:18px;
    border-right: 2px solid #666666


}

#content
{
    float:left;
    padding: 40px;
    width: 730px;
    background-color: #dedede;
    min-height: 580px;
    text-align: justify;
}

#footer
{
    clear:both;
    color: white;
    padding:20px;
    font-size: 18px;
    text-align: center;

}
#timer
{
    color:white;
    float:right;
    padding: 10px;
    border-left: 2px dotted yellow;
    height: 25px;
}




.optionL
{
font-size: 18px;
height: 25px;
padding: 10px;
border-bottom: 2px dotted #444444;

}

.optionL:hover
{
    background-color: crimson;
    color:white;
    cursor: pointer;

}

.bigtitle
{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
}

.dottedline
{
    height: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px dotted #444444;
}

.sticky
{
    width: 100%;
    position:fixed;
    left:0;
    top:0;
    z-index: 100; 
}

a.titlelink1
{
    color:#ffffff;
    text-decoration: none;
}

a.titlelink2
{
    color:black;
    text-decoration: none;
}